*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    line-height: 1.5;
    text-align: center;
}

.container
{
    width: 70%;
    margin: auto;
    /* padding: 0 30x; */
    /* background: black; */
}

img
{
    width: 100%;
}

#header
{
    height: 300px;
}

#header h1
{
    position: relative;
    animation-name: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes heading
{
    0%
    {
        top: -50px;
    }
    100%
    {
        top: 200px;
    }
}

.btn
{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px;
    margin-top: 220px;
    position: relative;
    animation-name: btn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    
}

.btn:hover
{
    /* transform: rotateY(180deg); */
    background: #fff;
    color: #000;
}

@keyframes btn
{
    0%
    {
        left: -1000px;
    }
    100%
    {
        left: 0px;
    }
}

#introduction
{
    margin-top: 80px;
    text-align: left;
}

#content div
{
    border: 1px solid #fff;
    margin: 10px;
    padding: 10px;
}

#set-up
{
    margin-top: 50px;
    margin-bottom: 20px;
}

.row
{
    background: #fff;
    color: #000;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.row-content h1, p
{
    text-align: left;
}

.row-content p
{
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.peripherals-grid
{
    margin-top: 10px;
    /* background: #333; */
}

#cable-management p
{
    border: 1px solid #fff;
    padding: 10px;
    margin-bottom: 20px;
}

#footer
{
    background: #262626;
}

#footer p
{
    padding: 10px;
    text-align: center;
}

.link
{
    color: #80ff80;
    text-decoration: none;

}


@media (min-width: 700px)
{
    .content-grid
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    #introduction
    {
        margin-top: 30px;
        text-align: left;
    }

    .peripherals-grid
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

}

